@tailwind base;
@tailwind components;
@tailwind utilities;

/* #App{
    display: flex;
} */
/* @media screen and (max-width: 640px) {
    #App{
        display: block;
    }
  } */
.flex{
    display: flex;
}
*{
    font-family: "Poppins";
}